* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.mynav h3{
    color: #fff;
}

/* nav bar and header css */
.header {
    width: 100%;
    height: 8vh;
    background-color: black;
}
/*.container {
    padding: 10px 10%;
}*/
.mynav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mynav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.mynav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}
.mynav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #17a2b8 ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.mynav ul li a:hover::after {
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

/* ----------css for small screen--------- */
nav .fas1 {
    display: none;
}


@media only screen and (max-width: 600px) {
    .header-text {
        margin-top: 80%;
        font-size: 14px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .mynav h1 {
        font-size: 20px;
    }
    .mynav .fas1 {
        display: block;
        font-size: 25px;
        color: #fff;
    }
    .mynav ul{
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .mynav ul li{
        display: block;
        margin: 25px;
    }
    .mynav ul .fas1{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color:#fff;
    }
    .mynav .fas1{
        cursor: pointer;
    }
}